---

import prLogo from "../../assets/fondos/home_pre_logo.webp"
import ImgSteam from "../../assets/botonesTiendas/bt_steam.png"
import ImgApple from "../../assets/botonesTiendas/bt_apple_pre.png"
import ImgPlay from "../../assets/botonesTiendas/bt_google_pre.png"
import ImgEpic from "../../assets/botonesTiendas/bt_epic.png"
import ImgEstar from "../../assets/botonesTiendas/linxing.png"
import ImgDis from "../../assets/botonesTiendas/share_dis.png"
import ImgYou from "../../assets/botonesTiendas/share_yg.png"
import Imgtik from "../../assets/botonesTiendas/tiktok.png"
import Imgkaw from "../../assets/botonesTiendas/kwai.png"
import Imgx from "../../assets/botonesTiendas/share_tt.png"
import ImgLine from "../../assets/fondos/line1.png"
import Imgjiguo from "../../assets/fondos/jihuo_news.jpeg"
import Imgline2 from "../../assets/fondos/line2.webp"
import ImgSensasion1 from "../../assets/fondos/cr_gift.png"
import ImgSensasion2 from "../../assets/fondos/look_up.jpeg"
import ImgGiftChair from "../../assets/fondos/loteria/gift_chair.png"
import ImgController from "../../assets/fondos/loteria/gift_razer.png"
import ImgKeyboardMouse from "../../assets/fondos/loteria/gift_keyboard.png"
import ImgColoringAgent from "../../assets/fondos/loteria/gift_bottle.png"
import ImgRandomToy from "../../assets/fondos/loteria/gift_zheng.png"
import ImgLunaCoin from "../../assets/fondos/loteria/gift_luno.png"
import ImgAdvancedCooking from "../../assets/fondos/loteria/gift_fang.png"
import ImgCharacter from "../../assets/fondos/loteria/gift_gem.png"
import Muñeca1 from "../../assets/fondos/loteria/dec.png"
import Muñeca2 from "../../assets/fondos/loteria/dec01.png"
import TituloMilestone from "../../assets/fondos/mile_title.png"
import LineMilestone from "../../assets/fondos/mile_line4_n.webp"
import Premio1 from "../../assets/fondos/mile_5_yes.webp"
import Premio2 from "../../assets/fondos/mile_10_yes.webp"
import Premio3 from "../../assets/fondos/mile_20_yes.webp"
import Premio4 from "../../assets/fondos/mile_30_yes.webp"
import Premio5 from "../../assets/fondos/mile_50_no.webp"
import ClassCarousel from "../react/clases.jsx"
import Contenido from "../react/contenido.jsx"
import Carousel from "../react/caracteristicas.jsx"
---

<!-- capa de decoraciones fijas -->
<div class="fixed inset-0 z-10 pointer-events-none">
    <!-- lados -->
    <div class="absolute left-[2%] w-[1px] h-full bg-gray-200 opacity-70"></div>
    <div class="absolute left-[98%] w-[1px] h-70 bg-gray-200 opacity-70"></div>
    <div class="absolute top-[80%] left-[98%] w-[1px] h-70 bg-gray-200 opacity-70"></div>
  
    <!-- arriba y abajo -->
    <div class="absolute top-[9.5%] w-screen h-[1px] bg-gray-200 opacity-70"></div>
     <div class="absolute top-[96.5%] w-screen h-[1px] bg-gray-200 opacity-70"></div>
    <!-- estrellas -->
    <img src={ImgEstar.src} alt="estUpLeft"
         class="absolute top-[8%] left-[1%] w-[30px] h-[30px] opacity-90">
    <img src={ImgEstar.src} alt="estUpRight"
         class="absolute top-[8%] right-[1%] w-[30px] h-[30px] opacity-90">
    <img src={ImgEstar.src} alt="estDowLeft"
         class="absolute bottom-[2%] left-[1%] w-[30px] h-[30px] opacity-90">
    <img src={ImgEstar.src} alt="estDowRight"
         class="absolute bottom-[2%] right-[1%] w-[30px] h-[30px] opacity-90">
  
    <!-- redes sociales (permitir clicks → pointer-events-auto) -->
    <div class="absolute top-1/3 right-5 flex flex-col gap-4 pointer-events-auto">
      <a href="https://x.com/BPSR_Official" target="_blank">
        <img src={Imgx.src} alt="X"
             class="w-10 h-10 hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer">
      </a>
      <a href="https://www.youtube.com/@BPSR_Official" target="_blank">
        <img src={ImgYou.src} alt="youtube"
             class="w-10 h-10 hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer">
      </a>
      <a href="https://discord.com/invite/starresonance" target="_blank">
        <img src={ImgDis.src} alt="discord"
             class="w-10 h-10 hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer">
      </a>
      <a href="https://www.tiktok.com/@bpsr_official" target="_blank">
        <img src={Imgtik.src} alt="tiktok"
             class="w-10 h-10 hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer">
      </a>
      <a href="https://www.kwai.com/@BPSR_Official" target="_blank">
        <img src={Imgkaw.src} alt="kwai"
             class="w-10 h-10 hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer">
      </a>
    </div>
  </div>
 
<!-- seciones que se activan con scroll -->
    <div id="pagina-Container" class="overflow-hidden h-screen w-full">
        <!-- seccion inicio -->
        <section  id="0" class=" section h-screen flex items-center justify-center text-white text-4xl font-bold">
            <div>
                <div class=" bg-[url('../assets/fondos/home_pre_bg.webp')] h-screen w-screen bg-cover bg-center">
                    <div >
                        <img src={prLogo.src} width="80%" height="80%" alt="logo" class=" xl:top-1/2 xl:left-1/2 transform  xl:translate-y-[70%] xl:translate-x-[16%] lg:translate-y-[150%] lg:translate-x-[14%] md:translate-y-[200%] md:translate-x-[14%]" />
                    </div>
                    <div class=" xl:top-1/2 xl:left-1/2 transform xl:translate-x-[29%] xl:translate-y-[80%] lg:translate-y-[180%] lg:translate-x-[25%] md:translate-y-[215%] md:translate-x-[25%] ">
                        <iframe src="https://store.steampowered.com/widget/3681810?&utm_medium=web" frameborder="0" class=" xl:w-[800px] xl:h-[200px] lg:w-[600px] lg:h-[200px] md:w-[550px] md:h-[200px] " ></iframe>
                    </div>
                    <div class="flex gap-5 m-40  xl:translate-x-[24%] xl:translate-y-[1%] lg:translate-y-[490%] lg:translate-x-[17%] md:translate-y-[750%] md:translate-x-[14%]">
                        <a href="https://store.steampowered.com/app/3681810/Blue_Protocol_Star_Resonance/" class="hover:scale-110 transition-all duration-200 ease-in-out  cursor-pointer"><img src={ImgSteam.src} alt="steam" class="w-auto xl:h-14 lg:h-10 md:h-9 object-cover"  /></a>
                        <a href="https://store.epicgames.com/es-MX/p/blue-protocol-star-resonance-27bff9" class="hover:scale-110 transition-all duration-200 ease-in-out  cursor-pointer"><img src={ImgEpic.src} alt="epic" class="w-auto xl:h-14 lg:h-10 md:h-9 object-cover" /></a>
                        <a href="https://play.google.com/store/apps/details?id=com.bpsr.apj" class="hover:scale-110 transition-all duration-200 ease-in-out  cursor-pointer"><img src={ImgPlay.src} alt="play" class="w-auto xl:h-14 lg:h-10 md:h-8 object-cover" /></a>
                        <a href="https://apps.apple.com/us/app/blue-protocol-star-resonance/id6744962482" class="hover:scale-110 transition-all duration-200 ease-in-out  cursor-pointer"><img src={ImgApple.src} alt="apple" class="w-auto xl:h-14 lg:h-10 md:h-9 object-cover" /></a>
                    </div> 
                </div>
            </div>
        </section>
    
        <!-- seccion nuevo -->
        <section id="1" class="section min-h-screen w-full flex items-center justify-center text-white text-4xl font-bold relative overflow-hidden">
          <!-- Fondo difuminado -->
          <div class="absolute inset-0 w-full h-full z-0">
            <div class="w-full h-full bg-[url('../assets/fondos/bg_nuevo.webp')] bg-cover bg-center blur-[10px]"></div>
          </div>
        
          <!-- Noticias -->
          <div class="z-10 grid min-[800px]:grid-cols-2 grid-cols-1 gap-10 w-[90%] max-w-[1200px] h-auto">
            
            <!-- Columna izquierda -->
            <div class="col-span-1 min-w-[350px]">
              <div class="bg-gradient-to-b from-[#FAEED5] via-[#FAEED5] to-[#eee7d4] border-8 border-[#DBA367] w-full h-full flex flex-col space-y-6 p-4">
                
                <!-- Sección 1 -->
                <div class="grid grid-cols-2 gap-5 w-full">
                  <div class="flex items-center justify-center bg-[#963031]">
                    <p class="font-[TimesNewRoman]">NUEVO</p>
                  </div>
                  <div class="flex items-end">
                    <img src={ImgLine.src} alt="" class="w-full h-auto"/>
                  </div>
                </div>
                
                <!-- Sección 2 -->
                <div class="p-2 w-full">
                  <img src={Imgjiguo.src} alt="" class="w-full h-auto border-[12px] border-[#fcf9f2]"/>
                </div>
                
                <!-- Sección 3 -->
                <div class="p-2 text-2xl text-black space-y-2 font-[NewTimeRoman]">
                  <div class="w-full bg-[#DBA367] flex items-center space-x-2 p-1">
                    <img src={ImgEstar.src} alt="" class="w-5 h-5"/>
                    <p class="text-[#f1dec9]">Star Resonance</p>
                  </div>
                  <div class="w-full bg-[#DBA367] flex items-center space-x-2 p-1">
                    <img src={ImgEstar.src} alt="" class="w-5 h-5"/>
                    <p class="text-[#f1dec9]">Próximamente</p>
                  </div>
                  <div class="w-full bg-[#DBA367] flex items-center space-x-2 p-1">
                    <img src={ImgEstar.src} alt="" class="w-5 h-5"/>
                    <p class="text-[#f1dec9]">Mantenimiento</p>
                  </div>
                  <div class="w-full bg-[#DBA367] flex items-center space-x-2 p-1">
                    <img src={ImgEstar.src} alt="" class="w-5 h-5"/>
                    <p class="text-[#f1dec9]">Nuevos personajes</p>
                  </div>
                </div>
                
                <!-- Sección 4 -->
                <div class="text-right">
                  <img src={Imgline2.src} alt="line" class="inline-block w-4/5 h-auto"/>
                </div>
              </div>
            </div>
            
            <!-- Columna derecha -->
            <div class="col-span-1 min-w-[350px]">
              <div class="bg-gradient-to-b from-[#FAEED5] via-[#FAEED5] to-[#eee7d4] border-8 border-[#DBA367] w-full h-full flex flex-col justify-evenly">
                
                <!-- Sección 1 -->
                <div class="flex items-center justify-center bg-[#963031] p-2 w-[80%] mx-auto min-[800px]:mx-0">
                  <p class="font-[TimesNewRoman] md:text-2xl text-xl">NUEVOS ASPECTOS</p>
                </div>
                
                <!-- Sección 2 -->
                <div class="p-2 w-full">
                  <img src={ImgSensasion1.src} alt="" class="w-full h-auto border-[12px] border-[#fcf9f2]"/>
                </div>
                
                <!-- Sección 3 -->
                <div class="p-2 w-full">
                  <img src={ImgSensasion2.src} alt="" class="w-full h-auto border-[12px] border-[#fcf9f2]"/>
                </div>
              </div>
            </div>
            
          </div>
        </section>
               
        <!-- seccion loteria -->
        <section id="2" class="section relative min-h-screen w-full flex flex-col items-center justify-start overflow-hidden">
          <!-- Fondo principal -->
          <div class="absolute inset-0 w-full h-full z-0">
            <div class="w-full h-full bg-[url('../assets/fondos/loteria/bg-2.jpg')] bg-cover bg-center opacity-50"></div>
          </div>
        
          <!-- Contenido -->
          <div class="relative z-10 flex flex-col items-center mt-50 w-full px-4">
            <!-- Título -->
            <div class="flex flex-wrap justify-center items-center text-black text-3xl md:text-4xl font-bold mb-6">
              <p class="font-[TimesNewRoman] text-[#2c6ff2] uppercase mr-2">!Llama a tus amigos!</p>
              <p class="font-[TimesNewRoman] uppercase">Y aventura juntos!</p>
            </div>
        
            <!-- Navegación -->
        
        
            <!-- Caja principal -->
            <div class="w-full max-w-[1000px] bg-[url('../assets/fondos/loteria/bg_main.png')] bg-contain bg-no-repeat bg-center p-6 rounded-md shadow-xl overflow-hidden">
  <!-- <img src={Muñeca1.src} alt="" class="absolute top-[73%] left-[22%] w-[5%]"> -->
              <!-- Tabs arriba -->
              <div class="mt-20 flex justify-start">
                <a href="#" class="text-white mx-2 bg-[#a78a68] px-2 py-[2px]">Prize History</a>
                <a href="#" class="text-white mx-2 bg-[#a78a68] px-2 py-[2px]">Rules</a>
                <a href="#" class="text-white mx-2 bg-[#a78a68] px-2 py-[2px]">Address</a>
              </div>
            
              <div class="flex flex-col md:flex-row justify-between items-start w-full">          
                <div class="grid grid-cols-3 gap-1 md:w-1/2 
            bg-[url('../assets/fondos/loteria/bg.png')] bg-no-repeat bg-contain bg-center 
            rounded-md overflow-hidden">

  <!-- Item 1 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgGiftChair.src} alt="Gaming Chair" class="mx-auto  w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Gaming Chair - 1</p>
  </div>

  <!-- Item 2 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgController.src} alt="Controller" class="mx-auto mb-2 w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Controller - 1</p>
  </div>

  <!-- Item 3 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgKeyboardMouse.src} alt="Keyboard & Mouse" class="mx-auto mb-2 w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Keyboard & Mouse - 1</p>
  </div>

  <!-- Item 4 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgColoringAgent.src} alt="Coloring Agent" class="mx-auto mb-2 w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Coloring Agent - 2</p>
  </div>

  <!-- Item 5 (DRAW NOW especial) -->
  <div class="flex flex-col items-center justify-center text-center h-34 p-2 bg-[url('../assets/fondos/loteria/btn_Draw2.png')] bg-contain bg-center bg-no-repeat">
    <p class="text-white font-bold text-xl">DRAW NOW</p>
    <p class="text-white text-[10px]">Remaining Attempts: 9</p>
  </div>

  <!-- Item 6 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgRandomToy.src} alt="Random Toy" class="mx-auto mb-2 w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Random Toy Chest - 2</p>
  </div>

  <!-- Item 7 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgLunaCoin.src} alt="Luna Coin" class="mx-auto mb-2 w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Luna Coin (Bonus) - 10,000</p>
  </div>

  <!-- Item 8 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgAdvancedCooking.src} alt="Select Chest" class="mx-auto mb-2 w-10 h-auto">
    <p class="text-black font-bold text-[10px]">Select Chest - 5</p>
  </div>

  <!-- Item 9 -->
  <div class="flex flex-col items-center justify-center text-center h-32 p-2">
    <img src={ImgCharacter.src} alt="Advanced Cooking" class="mx-auto mb-2 w-14 h-auto">
    <p class="text-black font-bold text-[10px]">Advanced Cooking</p>
  </div>
</div>

            
                <!-- Right section: Actions and Character -->
                <div class="w-full md:w-1/2 mt-6 md:mt-0 flex flex-col items-center font-[TimesNewRoman] ">
                  <div class=" p-4 rounded-md text-center mb-4">
                    <div class="flex  items-end ">
                      <img src={Muñeca2.src} alt="" width="150" height="150">
                      <h3 class="text-xl font-bold text-black font-[TimesNewRoman] "> 5 Oportunidades</h3>
                    </div>
                <div class="border-[1px] border-black"></div>
<div class=" flex  items-center  justify-between">
  <p class="text-black">Pre-register (Click to redirect to Steam/Epic)</p>
  <button class="mt-2 px-4 py-2 bg-gray-300 rounded-full cursor-pointer">Pre-register</button>
</div>
<div class=" flex  items-center justify-between bg-[#e3ddd3]">
  <p class="text-black">Follow us on social media (X/Twitter)</p>
  <button class="mt-2 px-4 py-2 bg-gray-300 rounded-full cursor-pointer">Follow Us</button>
</div>
<div class=" flex  items-center justify-between">
  <p class="text-black">Join us on Discord</p>
  <button class="mt-2 px-4 py-2 bg-gray-300 rounded-full cursor-pointer">Join Us</button>
</div>
<div class=" flex  items-center justify-between bg-[#e3ddd3]">
  <p class="text-black">Share event page on X/Twitter</p>
  <button class="mt-2 px-4 py-2 bg-gray-300 rounded-full cursor-pointer">Share</button>
</div>
<div class=" flex  items-center justify-between">
  <p class="text-black">Invite 1 Friend</p>
  <button class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-full cursor-pointer">Invite</button>
</div>
</div>
</div>
</div>
<img src={Muñeca1.src}alt="Character" class="w-24 h-auto ">
            
          </div>
        </section>


        <!-- seccion milestone -->
        <section  id="3" class=" section min-h-screen w-full flex items-center justify-center text-red text-4xl font-bold relative overflow-hidden">
          <div>
            <div class="absolute inset-0 w-full h-full z-0">
              <div class="w-full h-full bg-[url('../assets/fondos/mile_bg.webp')] bg-cover bg-center "></div>
            </div>
            <div>
                  <!-- Contenido -->
          <div class="relative z-10 flex flex-col  w-full px-4">
            <!-- Título -->
            <div class="flex flex-wrap  justify-center text-3xl md:text-4xl font-bold ">
              <img src= {TituloMilestone.src} alt="TituloMilestone" class="xl:mb-[700px] mb-[450px]" width="962.688px" />
           
            
              <img src={LineMilestone.src}  class=" absolute top-[50%]" alt="LineMilestone"/>
              <div class="flex flex-row justify-center items-center">
                <img src= {Premio1.src} alt="Premio 1"  class="xl:w-72 lg:w-52 w-42 absolute xl:top-[60%] xl:left-[1%]  lg:top-[65%] lg:left-[4%]"/>
                <img src= {Premio2.src} alt="Premio 2"  class="xl:w-72 lg:w-52 w-42 absolute xl:top-[55%] xl:left-[20%] lg:top-[60%] lg:left-[22%]"/>
                <img src= {Premio3.src} alt="Premio 3"  class="xl:w-72 lg:w-52 w-42 absolute xl:top-[60%] xl:left-[39%] lg:top-[65%] lg:left-[41%]"/>
                <img src= {Premio4.src} alt="Premio 4" class="xl:w-72 lg:w-52 w-42 absolute xl:top-[65%] xl:left-[57%] lg:top-[70%] lg:left-[60%]"/>
                <img src= {Premio5.src} alt="Premio 5" class="xl:w-72 lg:w-52 w-42 absolute xl:top-[60%] xl:left-[78%] lg:top-[65%] lg:left-[78%]"/>
              </div>
              
              </div>
            </div>
          
          </div>  
        </div>
        </section>
        <!-- seccion class -->
        <section  id="4" class=" section min-h-screen w-full flex items-center justify-center text-4xl font-bold relative overflow-hidden">
          <ClassCarousel client:visible />
        </section>
        <!-- seccion contenido de magnas -->
        <section  id="5" class=" section min-h-screen w-full flex items-center justify-center  text-4xl font-bold relative overflow-hidden">
          <Contenido client:visible/>
        </section>
        <!-- seccion caracteristica -->
        <section  id="6" class=" section min-h-screen w-full flex flex-col items-center justify-center  text-4xl font-bold relative overflow-hidden">
          <Carousel client:visible/>
      
        </section>
 
    </div>
    



